@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap");

* {
    margin: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: black;
    font-family: 'Poppins', sans-serif;
}

.container .interface_main {
    width: 100%;
}


.interface_main .song_side {
    padding-left: 320px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.interface_main .menu_side {
    background-color: black;
    position: fixed;
    width: 320px;
    height: 100%;
    padding: 24px 16px;
    display: flex;
    flex-direction: column;
}

.menu_side .logo {
    width: 131px;
    height: 40px;
    margin-bottom: 30px;
}

.logo img {
    width: 100%;
    height: 100%;
}

.container .master_play {
    width: 100%;
    height: 70px;
    /* background-color: aqua; */
    position: fixed;
    bottom: 0px;
}

.menu_side .element_menu,
.element_choice,
.element_down {
    width: 100%;
    display: flex;
    column-gap: 22px;
    align-items: center;
    font-size: 15px;
    font-weight: 600;
    color: gray;
    margin-bottom: 20px;
    text-decoration: none;
}

.list_element .element_menu:nth-child(3) i {
    color: white;
}

.list_element .element_menu:nth-child(3) span {
    color: white;
}

.choice {
    margin-top: 30px;
    border-bottom: 1px solid gainsboro;
}

.element_menu i,
.element_choice i,
.element_down i {
    font-size: 22px;
    color: gray;
}

.choice .element_choice:last-child i {
    color: #803d9fc4;
}

.playlist .element_playlist {
    margin-top: 20px;
    letter-spacing: 1px;
    color: gray;
    font-size: 14px;
    font-weight: 100;
}

.element_down:hover,
.element_down:hover i {
    cursor: pointer;
    color: white;
}

.element_choice:hover,
.element_choice:hover i {
    transition-duration: 0.2s;
    cursor: pointer;
    color: white;
}

.choice .element_choice:last-child:hover i {
    color: #a758cb;
}

.element_playlist:hover {
    transition-duration: 0.2s;
    cursor: pointer;
    color: white;
}

.element_menu:hover,
.element_menu:hover i {
    transition-duration: 0.2s;
    cursor: pointer;
    color: white;
}

.song_side .header_song_side {
    z-index: 1;
    background-color: #1e2956;
    width: 100%;
    position: sticky;
    top: 0px;
    padding: 15px 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header_song_side .left_header {
    display: flex;
    column-gap: 20px;
}

.left_header .wrap_icon {
    width: 36px;
    height: 36px;
    border-radius: 100%;
    background-color: #121212;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrap_icon i {
    color: white;
}
.header_song_side .center_header {
    display: flex;
    justify-content: space-around;
    column-gap: 30px;
}
.center_header {
    width: 50%;
}
.center_header span {
    color: white;
}
.center_header a {
    width: 90px;
    height: 40px;
    line-height: 40px;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
}
.center_header a:hover {
    background-color: #333333;
}

.header_song_side .right_header {
    position: relative;
    display: flex;
    align-items: center;
    column-gap: 20px;
}

.right_header .upgrade {
    padding: 8px 20px;
    border: 2px solid #ffffffd7;
    border-radius: 20px;
    color: white;
    font-size: 14px;
    font-weight: 700;
    transition-duration: 0.3s;
}

.right_header .person {
    display: flex;
    align-items: center;
    column-gap: 10px;
    height: 30px;
    padding: 5px 10px 5px 2px;
    background-color: black;
    color: white;
    font-size: 14px;
    font-weight: 600;
    border: 1.4px solid white;
    border-radius: 20px;
    position: relative;
}

.person i {
    font-size: 22px;
}

.person .name_account {
    position: absolute;
    right: 20px;
    bottom: -45px;
    padding: 10px 15px;
    background-color: #121212;
    box-shadow: 0px 10px 25px #121212cb;
    border-radius: 6px;
    display: none;
}
.person .side_bar{
    position: absolute;
    left: -20px;
    bottom: -329px;
    width: 212px;
    display: none;
}
.side_bar .wrap_side_bar{
    width: 100%;
    border-radius: 6px;
    padding: 6px 6px;
    display: flex;
    flex-direction: column;
    background-color: #282828;
    font-weight: 500;
    color: white;
}
.wrap_side_bar .element_side_bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 14px 15px;
}
.wrap_side_bar .line{
    width: 100%;
    height: 0.5px;
    background-color: whitesmoke;
}
.element_side_bar i{
    font-size: 15px;
}
.element_side_bar:hover{
    background-color: #434242;
    border-radius: 5px;
}
.upgrade:hover {
    cursor: pointer;
    transform: scale(1.04);
    background-color: #181818;
    color: white;
    border: 1.5px solid white;
}

.person:hover {
    cursor: pointer;
    background-color: #252525;
}

.wrap_icon:hover {
    cursor: not-allowed;
}

.song_side .body_song_side {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #a758cb;
}

.list_mp3, .list_browse{
    width: 100%;
    background-color: #121212;
    display: flex;
    flex-direction: column;
    padding: 0px 20px;
}

.list_mp3 .title_list, .list_browse .title_browse{
    font-size: 27px;
    font-weight: 600;
    color: white;
    margin-bottom: 23px;
    margin-top: 23px;
}

.wrap_element_list {
    width: 100%;
    display: flex;
    align-items: center;
    column-gap: 20px;
    flex-wrap: wrap;
}
.element_title {
    position: relative;
    margin-top: 20px;
    background-image: linear-gradient(to right, #4b15f4, #857fe7);
    width: 400px;
    height: 320px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    
}
.element_title_detail_text p {
    color: white;
    display: -webkit-box; 
    -webkit-box-orient: vertical; 
    -webkit-line-clamp: 3; 
    overflow: hidden; 
    text-overflow: ellipsis; 
    margin: 60px 0 0 20px;
}
.element_title_detail_song h1,p {
    color: white;
    margin: 15px 0 0 0;
}
.element_title_detail_song {
    margin-left: 20px;
    margin-top: 110px;

}
.wrap_element_list .element_list {
    margin-top: 20px;
    height: 320px;
    width: 190px;
    display: flex;
    flex-direction: column;
    row-gap: 24px;
    padding: 22px;
    background-image: linear-gradient(0, #242323, #181818);
    border-radius: 8px;
    transition: all 0.3s;
}

.element_list .author {
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 16px;
    font-weight: 600;
    color: white;
}

.author_detail .detail {
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    font-size: 13px;
    line-height: 1.6;
    font-weight: 500;
    color: #d8d8d8;
    margin-top: 16px;
}

.element_list .poster {
    position: relative;
    width: 100%;
    height: 60%;
    box-shadow: 5px 18px 20px #151515d5;
}

.poster img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
}
.element_title_detail_song .title_button_play {
    position: absolute;
    right: 20px;
    bottom: -5px;
    width: 48px;
    height: 48px;
    border-radius: 100%;
    background-color: #1FDF64;
    box-shadow: 0px 6px 20px black;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: all 0.3s;
}
.title_button_play i {
    font-size: 20px;
}
.element_title:hover .title_button_play {
    cursor: pointer;
    transform: translateY(-20px);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
}
.poster .border_button_play {
    position: absolute;
    right: 6px;
    bottom: -14px;
    width: 48px;
    height: 48px;
    border-radius: 100%;
    background-color: #1FDF64;
    box-shadow: 0px 6px 20px black;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: all 0.3s;
}

.border_button_play i {
    font-size: 20px;
}

.element_list:hover {
    cursor: pointer;
    background-image: linear-gradient(0, #282828, #282828);
}

.element_list:hover .border_button_play {
    cursor: pointer;
    transform: translateY(-20px);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
}
.element_list .artists,.element_list .artists img {
    width: 170px;
    height: 170px;
    border-radius: 100%;
    box-shadow: 0px 18px 20px #151515d5;
}

.body_song_side .list_mp3:last-child {
    padding-bottom: 90px;
}

.body_song_side .list_mp3:first-child {
    background-image: linear-gradient(0, #121212, #1e2956);
}
.header_song_side .center_header a:first-child{
    background-color: #333333;
}


