@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap");

* {
    margin: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: black;
    font-family: 'Poppins', sans-serif;
}

.container .interface_main {
    width: 100%;
}


.interface_main .song_side {
    padding-left: 320px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.interface_main .menu_side {
    background-color: black;
    position: fixed;
    width: 320px;
    height: 100%;
    padding: 24px 16px;
    display: flex;
    flex-direction: column;
}

.menu_side .logo {
    width: 131px;
    height: 40px;
    margin-bottom: 30px;
}

.logo img {
    width: 100%;
    height: 100%;
}

.container .master_play {
    width: 100%;
    height: 70px;
    background-color: aqua;
    position: fixed;
    bottom: 0px;
}

.menu_side .element_menu,
.element_choice,
.element_down {
    width: 100%;
    display: flex;
    column-gap: 22px;
    align-items: center;
    font-size: 15px;
    font-weight: 600;
    color: gray;
    margin-bottom: 20px;
    text-decoration: none;
}

.playlist .element_playlist:last-child{
    color: white;
}

.choice {
    margin-top: 30px;
    border-bottom: 1px solid gainsboro;
}

.element_menu i,
.element_choice i,
.element_down i {
    font-size: 22px;
    color: gray;
}

.choice .element_choice:last-child i {
    color: #803d9fc4;
}

.menu_side .playlist{
    display: flex;
    flex-direction: column;
}
.playlist .element_playlist {
    margin-top: 20px;
    letter-spacing: 1px;
    text-decoration: none;
    color: gray;
    font-size: 14px;
    font-weight: 100;
}

/* .choice_download {
    position: absolute;
    bottom: 0px;
} */

.element_down:hover,
.element_down:hover i {
    cursor: pointer;
    color: white;
}

.element_choice:hover,
.element_choice:hover i {
    transition-duration: 0.2s;
    cursor: pointer;
    color: white;
}

.choice .element_choice:last-child:hover i {
    color: #a758cb;
}

.element_playlist:hover {
    transition-duration: 0.2s;
    cursor: pointer;
    color: white;
}

.element_menu:hover,
.element_menu:hover i {
    transition-duration: 0.2s;
    cursor: pointer;
    color: white;
}

.song_side .header_song_side {
    z-index: 1;
    background-color: #cf2c3b;
    width: 100%;
    position: sticky;
    top: 0px;
    padding: 15px 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header_song_side .left_header {
    display: flex;
    column-gap: 20px;
}

.left_header .wrap_icon {
    width: 36px;
    height: 36px;
    border-radius: 100%;
    background-color: #121212;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrap_icon i {
    color: white;
}

.header_song_side .right_header {
    position: relative;
    display: flex;
    align-items: center;
    column-gap: 20px;
}

.right_header .upgrade {
    padding: 8px 20px;
    border: 1.4px solid #a7a7a7d7;
    border-radius: 20px;
    color: white;
    font-size: 14px;
    font-weight: 600;
    transition-duration: 0.3s;
}

.right_header .person {
    display: flex;
    align-items: center;
    column-gap: 10px;
    height: 30px;
    padding: 5px 10px 5px 2px;
    background-color: black;
    color: white;
    font-size: 14px;
    font-weight: 600;
    border: 1.4px solid white;
    border-radius: 20px;
    position: relative;
}

.person i {
    font-size: 22px;
}

.person .name_account {
    position: absolute;
    right: 20px;
    bottom: -45px;
    padding: 10px 15px;
    background-color: #121212;
    box-shadow: 0px 10px 25px #121212cb;
    border-radius: 6px;
    display: none;
}
.person .side_bar{
    position: absolute;
    left: -20px;
    bottom: -329px;
    width: 212px;
    display: none;
}
.side_bar .wrap_side_bar{
    width: 100%;
    border-radius: 6px;
    padding: 6px 6px;
    display: flex;
    flex-direction: column;
    background-color: #282828;
    font-weight: 500;
    color: white;
}
.wrap_side_bar .element_side_bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 14px 15px;
    text-decoration: none;
    color: white;
}
.wrap_side_bar .line{
    width: 100%;
    height: 0.5px;
    background-color: whitesmoke;
}
.element_side_bar i{
    font-size: 15px;
}
.element_side_bar:hover{
    background-color: #434242;
    border-radius: 5px;
}
.upgrade:hover {
    cursor: pointer;
    transform: scale(1.04);
    background-color: #181818;
    border: 1.5px solid white;
}

.person:hover {
    cursor: pointer;
    background-color: #252525;
}


.wrap_icon:hover {
    cursor: not-allowed;
}

.song_side .body_song_side {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #a758cb;
}

.body_song_side .background_card{
    width: 100%;
    padding: 40px 0px 20px 30px;
    background-image: linear-gradient(0, #6b171f,#cf2c3b);
    display: flex;
    column-gap: 28px;
}
.background_card .image_card{
    width: 230px;
    height: 230px;
}
.image_card img{
    width: 100%;
    height: 100%;
}
.background_card .detail_card{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: white;
}
.detail_card .category{
    font-size: 14px;
    padding-bottom: 10px;
}
.detail_card .name_Card{
    font-size: 60px;
    padding-bottom: 20px;
}
.detail_card .describe_card{
    font-size: 14px;
    color: #FFFFFFB2;
    padding-bottom: 10px;
}
.detail_card .number_songs{
    display: flex;
    align-items: center;
    column-gap: 5px;
    font-size: 14px;
}
.number_songs img{
    width: 24px;
    height: 24px;
}
.number_songs .sharp{
    width: 5px;
    height: 5px;
    background-color: white;
    border-radius: 100%;
}
.body_song_side .list_songs_card{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.list_songs_card .header_list{
    width: 100%;
    background-image: linear-gradient(0, #381216, #511117);
    display: flex;
    align-items: center;
    column-gap: 26px;
    padding: 20px 0px 20px 30px;
}
.header_list .border_button_play{
    width: 48px;
    height: 48px;
    border-radius: 100%;
    background-color: #1FDF64;
    box-shadow: 0px 6px 20px black;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s;
}

.border_button_play i{
    font-size: 20px;
}
.icon_heart i, .three_dot i{
    font-size: 27px;
    color: #FFFFFFB2;
}
.icon_heart i{
    font-size: 35px;
    color: #1FDF64;
}
.header_list .border_button_play:hover{
    transform: scale(1.1);
    cursor: pointer;
}
.header_list .icon_heart:hover i{
    cursor: pointer;
}
.header_list .three_dot:hover i{
    color: white;
    cursor: pointer;
}
.list_songs_card .body_list{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.body_list .bar_title{
    width: 100%;
    padding: 0px 30px;
    background-image: linear-gradient(0, #121212, #381216);
}
.bar_title .time_duration {
    padding-left: 15px;
}
.body_list .wrap_bar_title{
    width: 100%;
    display: grid;
    padding: 20px 0px;
    padding-left: 15px;
    color: #FFFFFFB2;
    border-bottom: 1px solid #8080809e;
    column-gap: 16px;
    grid-template-columns: 16px 6fr 4fr 3fr 1.5fr;
}
.body_list .list_songs{
    width: 100%;
    display: flex;
    background-color: #121212;
    color: #FFFFFFB2;
    padding: 0px 30px;
    padding-top: 20px;
    flex-direction: column;
}
.list_songs .element_list{
    width: 100%;
    display: grid;
    align-items: center;
    column-gap: 16px;
    padding: 10px 0px;
    padding-left: 15px;
    grid-template-columns: 16px 6fr 4fr 3fr 1.5fr;
}
.element_list .index_songs i{
    color: white;
    display: none;
}
.list_songs .element_list:hover{
    cursor: pointer;
    background-color: #434242;
    border-radius: 5px;
}
.list_songs .element_list:hover .author_songs {
    color: white;
}
.list_songs .element_list:hover .album_songs {
    color: white;
}
.list_songs .element_list:hover span {
    display: none;
}
.list_songs .element_list:hover .index_songs i{
    display: block;
}

.element_list .title_songs{
    display: flex;
    align-items: center;
    column-gap: 17px;
}
.title_songs .detail_songs{
    display: flex;
    flex-direction: column;
    row-gap: 4px;
}
.element_list .index_songs{
    font-size: 16px;
}
.detail_songs .name_songs{
    font-size: 16px;
    color: white;
}
.detail_songs .author_songs{
    font-size: 14px;
    color: #FFFFFFB2;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.element_list .album_songs{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.title_songs .image_songs{
    width: 40px;
    height: 40px;
    border-radius: 4px;
}
.image_songs img{
    width: 100%;
    height: 100%;
}

/* -----footer------- */
.song_side .footer_list{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 80px 30px 0px 30px;
    background-color: #121212;
}
.footer_list .first_footer{
    width: 100%;
    height: 346px;
    display: flex;
    flex-direction: row;
}

.first_footer .contact{
    height: 100%;
    display: grid;
    grid-template-columns: 5fr 6fr 7fr 1fr;
    border-bottom: 1px solid #FFFFFFB2;
}
.contact .wrap_contact{
    display: flex;
    flex-direction: column;
}
.wrap_contact .title_contact{
    font-size: 14px;
    font-weight: 600;
    color: #919496;
    margin: 25px 0px;
}
.wrap_contact .element_contact{
    font-size: 15px;
    font-weight: 400;
    color: white;
    padding-bottom: 18px;
    text-decoration: none;
}
.contact .media{
    display: flex;
    column-gap: 20px;
}
.media .wrap_media{
    width: 50px ;
    height: 50px;
    border-radius: 100%;
    background-color: #222326;
    display: flex;
    align-items: center;
    justify-content: center;
}
.wrap_media i{
    color: white;
    font-size: 20px;
}
.wrap_contact .element_contact:hover{
    color: #1ED760;
}
.wrap_media:hover i{
    cursor: pointer;
    color: #1ED760;
}
.footer_list .last_footer{
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
}
.link_list .wrap_link_list{
    display: flex;
    column-gap: 20px;
}
.wrap_link_list .link{
    font-size: 14px;
    color: #FFFFFFB2;
    text-decoration: none;
}
.wrap_link_list .link:hover{
    cursor: pointer;
    color: #1ED760;
}
.last_footer span{
    font-size: 14px;
    color: #FFFFFFB2;
    padding-right: 20px;
}